accuracy_plot.png
loss_plot.png

venv/
env/
__pycache__/
*.pyc
*.pyo
node_modules/

*.csv
*.db
*.sqlite3

.env
.env.*
!.env.example

.DS_Store
.vscode/
.idea/

dist/
build/

ai_detector_model/
ai_detector_model2/
ai_detector_model3/
my_50k_dataset/
my_split_dataset
*.csv